/* SETTINGS */

$container-max-width: 1200px;
$header-max-width: 1540px;
$container-width: 82%;

$body-font: 'Roboto', sans-serif;
$feature-font: 'Franklin Gothic Demi', sans-serif;
$feature-cond-font: 'Franklin Gothic Demi Cond', sans-serif;

/* COLOURS */

$white: #FFF;
$black: #000;

$blueborder: #437DED;

$lightgrey: #f1f1f1;
$midgrey: #D8D8D8;
$grey: #9CA3AD;
$darkgrey: #333;
$blue: #175BDF;
$darkblue: #183867;
$dark: #0A1F44;

$green: #28A486;
$lightgreen: #D3F0E9;

$body-copy: #525A65;
$primarylink: $blue;
$primarylinkhover: $darkblue;