@import "../../mixins";

.sectionTemplate.imageCollage {
    .inner {
        max-width: 1600px;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-column-gap: 24px;
    }

    .leftBar, .rightBar {
        @include flex();
        align-items: center;
    }

    .topBar, .bottomBar {
        @include flex();

        div {
            &:first-child {margin-right: 12px;}
            &:last-child {margin-left: 12px;}
        }
    }

    .topBar {
        align-items: flex-end;
        margin-bottom: 24px;
        //grid-template-columns: 40% 60%;
        div {
            &:first-child {width: 40%;}
            &:last-child {width: 60%;}
        }
    }

    .bottomBar {
        align-items: flex-start;
        //grid-template-columns: 60% 40%;
        div {
            &:first-child {width: 60%;}
            &:last-child {width: 40%;}
        }
    }

    .rightBar {
        img {
            margin-bottom: 5%;
        }
    }

    img {
        @include border-radius(5px);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.19);
        max-width: 100%;
    }

    @media only screen and (max-width: 980px) {
        .inner {
            grid-template-columns: 100%;
        }

        .leftBar, .rightBar {
            display: none;
        }
    }
}